/* HEADER */
header #header-logo {
  margin: 0 0 0 12vw;
  height: 100%;
}

header #header-menu {
  margin: 0 12vw 0 0;
}
header #header-menu li {
  margin: 0 0 0 1.2rem;
  font-size: 2rem;
}

/* LANDING */

main #main-landing h1 {
  font-size: 12rem;
}
main #main-landing span {
  font-size: 5rem;
}

/* NOSOTROS */

#main-nosotros {
  padding: 0 12vw;
  line-height: 3.5rem;
}
#main-nosotros h2 {
  font-size: 2.5rem;
}
#main-nosotros p {
  font-size: 1.8rem;
}
#main-nosotros #main-nosotros-imgcont div img {
  height: auto;
  width: 100%;
}

/* CLIENTES */
#main-clientes #main-clientes-logocont {
  padding: 0 12vw;
}
#main-clientes #main-clientes-logocont img {
  width: 10%;
  margin: 1rem 3%;
  opacity: 0.7;
  transition: 0.3s;
}
#main-clientes #main-clientes-logocont img:hover {
  opacity: 1;
}
#main-clientes #main-clientes-logocont .b2,
.b3 {
  display: block;
}
#main-clientes #main-clientes-logocont img {
  border-radius: 3rem;
}

/* RECONOCIMIENTOS */

#main-reconocimientos {
  padding: 0 12vw;
  line-height: 3.5rem;
}
#main-reconocimientos h2 {
  font-size: 2.5rem;
}
#main-reconocimientos p {
  font-size: 1.8rem;
}
#main-reconocimientos #main-reconocimientos-imgcont div img {
  height: auto;
  width: 100%;
}

/* CONTACTO */

#main-contacto h2 {
  font-size: 2.5rem;
}
#main-contacto #main-contacto-list {
  padding: 0 12vw 5vh 12vw;
}
#main-contacto #main-contacto-list li {
  padding: 6vh 0;
}
#main-contacto #main-contacto-list li a img {
  width: 25%;
}
