/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
  background-color: var(--not-white);
}
@font-face {
  font-family: Nanum Gothic;
  src: url(../fonts/NanumGothic-Regular.ttf);
}
@font-face {
  font-family: Nanum Gothic Bold;
  src: url(../fonts/NanumGothic-Bold.ttf);
}
@font-face {
  font-family: Nanum Gothic Bolder;
  src: url(../fonts/NanumGothic-ExtraBold.ttf);
}
@font-face {
  font-family: Antonio;
  src: url(../fonts/Antonio-VariableFont_wght.ttf);
}
@font-face {
  font-family: Daughter;
  src: url(../fonts/ArchitectsDaughter-Regular.ttf);
}
/* COLORS */
:root {
  --jet: #212121;
  --deep-gray: #484848;
  --light-gray: #8a8a8a;
  --dim-white: #d2d2d2;
  --not-white: #eaeaea;
  --wood: #38281b;
  --ocean: #0d1a2b;
  --deep-reef: #1b2f38;
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* track */
::-webkit-scrollbar-track {
  background: var(--dim-white);
}
::-webkit-scrollbar-thumb {
  background: var(--deep-gray);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--jet);
}

/* HEADER */

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 8rem;
  background: var(--jet);
  width: 100%;
  z-index: 10;
}
header #header-logo {
  margin: 0 0 0 5vw;
  height: 100%;
}
header #header-menu {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0 5vw 0 0;
}
header #header-menu li {
  margin: 0 0 0 0.8rem;
  font-size: 1.3rem;
}
header #header-menu li a {
  text-decoration: none;
  font-family: "Nanum Gothic";
  color: var(--dim-white);
}
header #header-menu li a:hover {
  font-family: "Nanum Gothic Bolder";
  color: var(--not-white);
}

/* MAIN */

main {
  padding-top: 8rem;
}

main section {
  display: flex;
  height: 22vh;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
main section .img-container {
  height: 80%;
  width: 45vw;
  background: #00000088;
}
main section .text-container {
  width: 45vw;
  overflow-y: auto;
  font-family: "Nanum Gothic";
}
main section .text-container h3 {
  font-size: 2.5vh;
}
main section .text-container p {
  font-size: 1.5vh;
}
